#message{
    opacity: 0;
    color: red;

    transition: opacity 0.7s;
    -moz-transition: opacity 0.7s;
    -webkit-transition: opacity 0.7s;
}
#message.show{
    opacity: 1;

    transition: opacity 0.7s;
    -moz-transition: opacity 0.7s;
    -webkit-transition: opacity 0.7s;
}
#colour-changer{
    width: 200px;
    height: 100px;
    margin: 30px auto;
    border: 1px solid #000;
    background: #fff;

    transition: background 0.7s;
    -moz-transition: background 0.7s;
    -webkit-transition: background 0.7s;
}